@import "./variables";
@import "./colors";

@mixin title-sm{
    font-size: .95rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
@mixin title-lx{
    letter-spacing: 3px;
    text-transform: uppercase;
}
@mixin getStartedBtn{
    &__getStartedBtn{
        background-color: $getStarted-btn-bg;
        border-radius: $btn-radius;
        padding: $button 1.7rem;
        margin-top:2rem;
        z-index: 10;
    }
}
@mixin mobileImgBg{
    position: absolute;
    opacity: 25%;
}
@mixin imageComposition($img, $icon1, $icon2, $icon3, $icon4){
    &{
        position: relative;
    }
    &__imagesContainer{
        overflow: hidden;
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        
    }
    &__#{$img}{
        @include mobileImgBg;
        display: block;
        width: 90%;
        max-width: 300px;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);    

    }
    &__#{$icon1}{
        @include mobileImgBg;
        max-height: 30%;
        top:32%;
        left:-15%;
        display: none;

    }
    &__#{$icon2}{
        @include mobileImgBg;
        height: 20%;
        bottom: 5%;
        left:-10%;
        display: none;
    }
    &__#{$icon3}, &__#{$icon4}{
        display: none;
    }
    

}
@mixin imgReset($img, $icon1, $icon2, $icon3, $icon4){
    &__#{$img},&__#{$icon1},&__#{$icon2},&__#{$icon3},&__#{$icon4}{
        display: none;
    }
}

//MEDIA Q

@mixin headerMQ{
    @media(min-width: 1400px){
        &{
        padding-bottom: 20vw;
    }
}
@media(min-width: 1700px){
        &{
        padding-bottom: 25vw;
    }
}
@media(min-width: 2500px){
        &{
        padding-bottom: 20%;
    }
}
}