@import "./variables";
@import "./colors";

@mixin title-sm{
    font-size: .95rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
@mixin title-lx{
    letter-spacing: 3px;
    text-transform: uppercase;
}
@mixin getStartedBtn{
    &__getStartedBtn{
        background-color: $getStarted-btn-bg;
        border-radius: $btn-radius;
        padding: $button 1.7rem;
        z-index: 10;
        font-family: 'Black Ops One';
    }
}
@mixin getStarted ($img){

    &__getStartedCard{
        display: flex;
        justify-content: space-between;
        background-color: #0666F6;
        background-image: url('../../svg/szlaczek\ #{$img}.svg');
        background-position: right;
        background-repeat: no-repeat;
        margin: 15% 1rem;
        border-radius: 2rem;
        padding: 8% 8%;
    }
    &__title{
        color: white;
    }
    &__getStartedBtnRed{
        height: 20%;
        background-color: #ED7171;
        border-radius: .75rem;               
        &Text{
            color: white;
            font-family: 'Black Ops One';
            margin: 1rem 2rem;
            text-transform:uppercase;
        }
    }
    
}
@mixin imageComposition($img, $icon1, $icon2, $icon3, $icon4){
    &{
        position: relative;
    }
    &__imagesContainer{
        overflow: hidden;
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        
    }
    &__#{$img}{
        @include mobileImgBg;
        display: block;
        width: 90%;
        max-width: 300px;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);    

    }
    &__#{$icon1}{
        @include mobileImgBg;
        max-height: 30%;
        top:32%;
        left:-15%;
        display: none;

    }
    &__#{$icon2}{
        @include mobileImgBg;
        height: 20%;
        bottom: 5%;
        left:-10%;
        display: none;
    }
    &__#{$icon3}, &__#{$icon4}{
        display: none;
    }
    

}
@mixin imgReset($img, $icon1, $icon2, $icon3, $icon4){
    &__#{$img},&__#{$icon1},&__#{$icon2},&__#{$icon3},&__#{$icon4}{
        display: none;
    }
}

@mixin imagesConainerC($item1,$item2,$item3,$item4,$item5,$item6){
    &__imagesContainer{
        position: relative;
        width: 50%;
        z-index: 10;
    }
    &__imagesBg{
     top:0;
     left:0;
     position: absolute;
     width: 100%;
     background-color: $lighter-bg;
     z-index: 1;
     border-radius: 50%;
     padding-bottom: 100%;
    }
    &__#{$item1}{
        z-index: 20;
        position: absolute;
        top: 50%;;
        left: 50%;
        transform: translate(-50%, -50%);       
    }
    &__#{$item2}, &__#{$item4},&__#{$item5},&__#{$item6}{
        position: absolute;
        z-index: 2;
    }
    &__#{$item3}{

     position: absolute;
     z-index: 30;
     }
   
}

@mixin articleB{
    &__article{
        width: 50%;
        margin-right: 7vh;
        text-align: left;
    }
    &__sectionName{
        @include title-lx;        
     }
     &__title{
         text-align: left;
         margin-top: 1.5rem;
     }
     &__text{
        margin-top: 1.5rem;
     }
}
@mixin circle($size, $top, $left, $color){
    content: "";
    display: block;
    height: #{$size}px;
    width: #{$size}px;
    background-color: #{$color};
    position: absolute;
    border-radius: 50%;
    top: #{$top};
    left: #{$left};
}

//MEDIA Q

@mixin headerMQ{
    @media(min-width: 1400px){
        &{
        padding-bottom: 20vw;
    }
}
@media(min-width: 1700px){
        &{
        padding-bottom: 25vw;
    }
}
@media(min-width: 2500px){
        &{
        padding-bottom: 20%;
    }
}
}