
.header{
    width: 100%;
    display: flex;
    padding: 10vw 10vw;
    @include headerMQ;

    //LEFT section
    &__article{
        width: 50%;
        margin-right: 7vh;
        text-align: left;
    }
    &__sectionName{
       @include title-lx;        
    }
    &__title{
        text-align: left;
        margin-top: 1.5rem;
    }
    &__text{
       margin-top: 1.5rem;
    }

    
    @include getStartedBtn;
    &__getStartedBtn{
        margin-top:2rem;
    }

    //RIGHT section
   &__imagesContainer{
       position: relative;
       width: 50%;
       z-index: 10;
   }
   &__imagesBg{
    top:0;
    left:0;
    position: absolute;
    height: auto;
    max-height: 530px;
    width: 100%;
    background-color: $lighter-bg;
    z-index: 1;
    border-radius: 50%;
    padding-bottom: 100%;
   }
   &__truckImg{
       z-index: 20;
       position: absolute;
       width: 50%;
       max-width: calc(110%/2);
       top: 50%;;
       left: 50%;
       transform: translate(-50%, -50%);       
   }
   &__truckIcon{
       max-width: 166px;
       position: absolute;
       width: 35%;
       z-index: 2;
       top: 15%;;
       left: 5%;
   }
   &__parcelDotIcon{
    max-width: 177px;
    position: absolute;
    width: 35%;
    z-index: 30;
    top: 15%;;
    right: 8%;
    }
    &__lettersIcon{
        max-width: 249px;
        position: absolute;
        z-index: 2;
        width: 40%;
        bottom:15%;
        left: -2%;
    }
    &__zigZagIcon{
        max-width: 195px;
        position: absolute;
        z-index: 2;
        width: 30%;
        bottom:10%;
        right: 0%;
    }  
}