
.header{
    height: 70vh;
    
    &__article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &__sectionName{
        @include title;
        
    }
    &__title{
        // margin: .8rem 0;
        display: block;
        z-index: 10;
    }
    &__text{
        margin:0 .5rem;
        text-align: justify;
    }
    
    @include getStartedBtn;
    @include imageComposition(truckImg, truckIcon, parcelDotIcon, lettersIcon,zigZagIcon);
    &__truckImg{
        display: block;
    }
    
}