@import "./partials//variables";

.nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem 0;
    &__logo{
        &Btn{
            height: 2rem;
        }
        &Icon{
            height: 100%;
        }
    }
    &__items{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    &__contactBtn{
        border:solid 1px white;
        border-radius: .75rem;
        padding: .2rem 2rem;
    }
    @media (max-width: $bp-mobile){
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition: height .7s ease-out;
        &--active{
            height: 100vh;
        }
        &__logoBtn{
            min-height: 10vh;
        }
        &__logoIcon{
            height: 2rem;
            margin: 2rem auto;
            cursor: pointer;
        }
        &__items{
            position: absolute;
            top:15vh;
            left:0%;
            height: 70vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            transform: translateX(-100%);
            transition: transform .5s ease-in-out;
            &--active{
                transform: translateY(0)
            }
        }
        
    }

}